#!/bin/sh -e

# Source debconf library
. /usr/share/debconf/confmodule

CONFFILE=/etc/default/gridengine

# Read the information in from the /etc/default/gridengine
# file if possible
if [ -e ${CONFFILE} ]; then
    . ${CONFFILE} || true
fi

db_input high shared/gridengineconfig || true

db_go || true

db_get shared/gridengineconfig || true

if [ "${RET}" = "true" ]; then
    if [ -n "${SGE_CELL}" ] && [ -n "${2}" ]; then
        db_set shared/gridenginecell ${SGE_CELL}
    else
        db_input high shared/gridenginecell || true
    fi

    db_go || true
fi

