#! /bin/sh
#
# config	NIS suite Debconf configuration.
#		UI part of configureing the nis stuff.
#

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0 || { echo "nis.config: need DebConf 2.0 or later"; exit 1; }

set -e
umask 022

# Has the user seen the doman qestion before?
db_fget nis/domain seen || true
if [ "$RET" = "false" ]; then
   domain_is_default="true"
fi

# We're going to try to fill this in...
nisdomain=""

# ...from the existing configuration
if [ -r /etc/defaultdomain ]; then
	nisdomain=$(cat /etc/defaultdomain)
elif db_get nis/domain ; then
	nisdomain=$RET
fi

# If we haven't found anything then generate a default
if [ "$nisdomain" = "" ]
then
	fqdn=$(hostname --fqdn) || true
	nisdomain=${fqdn#*.}
fi

# If we have generated something then put it back into debconf...
if [ "$nisdomain" != "" ]; then
	db_set nis/domain "$nisdomain"

	# ...preserving the seen flag
	if [ "${domain_is_default}" = "true" ]; then
		db_fset nis/domain seen false
	fi
fi

# Now, interaction.  Batch it in case any front ends can use this.
db_beginblock
db_input high nis/domain || true

db_endblock
db_go || true

exit 0
