#!/bin/sh
#
# see: dh_installdeb(1)

set -e

. /usr/share/debconf/confmodule

# Folders
CACHE_DIR=/var/cache/sublime-text
INSTALL_DIR=/opt/sublime_text
UNPACK_DIR=$CACHE_DIR/sublime_text_3


SUBLIME_VERSION=3126 #to be changed on each release
case $(uname -m) in
'i686'|'i586'|'i386')
	arch='x32'
	SHA256SUM_TGZ="92ffefa470f0777897ed0dfb7c1635426105271da9b5affbe8c1e82039718e29" #to be changed on each release
	;;
'x86_64')
	arch='x64'
	SHA256SUM_TGZ="18db132e9a305fa3129014b608628e06f9442f48d09cfe933b3b1a84dd18727a" #to be changed on each release
	;;
*)
	echo "Architecture '`uname -m`' not supported."
	arch=''
esac

FILENAME="sublime_text_3_build_${SUBLIME_VERSION}_${arch}.tar.bz2"

for SUBLIME_VERSION_OLD in `seq 3045 3125`; do #to be changed on each release
	FILENAMES_OLD="sublime_text_3_build_${SUBLIME_VERSION_OLD}_${arch}.tar.bz2 $FILENAMES_OLD"
done

PARTNER_URL=https://download.sublimetext.com/$FILENAME

. /usr/share/debconf/confmodule

db_get sublime-text-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_set sublime-text-installer/local /var/cache/sublime-text

db_get sublime-text-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_set sublime-text-installer/local /var/cache/sublime-text/sublime_text_3

db_get sublime-text-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_reset sublime-text-installer/local 

while true; do
    db_input medium sublime-text-installer/local || true
    db_go
    db_get sublime-text-installer/local
    if [ -d "$RET" -a -f "$RET"/$FILENAME ]; then
		LOCAL="true"
		break;
    elif [ "x$RET" = "x" ]; then
		break;
    fi
    db_reset sublime-text-installer/not_exist || true
    db_reset sublime-text-installer/local || true
    db_text medium sublime-text-installer/not_exist || true
    db_go
done

exit 0
